<!-- templates/search.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Search</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        ul { list-style-type: none; padding: 0; }
        li { margin: 5px 0; }
    </style>
</head>
<body>
    <h1>Search Students</h1>
    <input type="text" id="searchBox" placeholder="Type a name..." autocomplete="off">
    <ul id="results"></ul>

    <script>
        $(document).ready(function() {
            $('#searchBox').on('input', function() {
                const query = $(this).val();  // Get the value of the input box

                if (query.length > 0) {
                    $.ajax({
                        url: '/search/',  // The URL of the search view
                        data: { term: query },  // Pass the input value as 'term'
                        success: function(data) {
                            $('#results').empty();  // Clear previous results
                            data.forEach(item => {
                                $('#results').append(`<li>${item.name}</li>`);  // Add each matching name
                            });
                        }
                    });
                } else {
                    $('#results').empty();  // Clear results if input is empty
                }
            });
        });
    </script>
</body>
</html>
